/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-dark {
  /* font weight for display 01 */
  --mc-font-weight-alias-typescale-font-weight-display-1: var(--mc-string-global-font-weight-black);
  /* font weight for display 02 */
  --mc-font-weight-alias-typescale-font-weight-display-2: var(--mc-string-global-font-weight-bold);
  /* font weight for headline 01 */
  --mc-font-weight-alias-typescale-font-weight-headline-1: var(--mc-string-global-font-weight-black);
  /* font weight for headline 02 */
  --mc-font-weight-alias-typescale-font-weight-headline-2: var(--mc-string-global-font-weight-bold);
  /* font weight for headline 03 */
  --mc-font-weight-alias-typescale-font-weight-headline-3: var(--mc-string-global-font-weight-bold);
  /* font weight for headline 04 */
  --mc-font-weight-alias-typescale-font-weight-headline-4: var(--mc-string-global-font-weight-bold);
  /* font weight for headline 05 */
  --mc-font-weight-alias-typescale-font-weight-headline-5: var(--mc-string-global-font-weight-bold);
  /* font weight for single line  labels */
  --mc-font-weight-alias-typescale-font-weight-label-short: var(--mc-string-global-font-weight-semi-bold);
  /* font weight for multi line labels */
  --mc-font-weight-alias-typescale-font-weight-label-long: var(--mc-string-global-font-weight-bold);
  /* font weight for single line paragraph texts */
  --mc-font-weight-alias-typescale-font-weight-body-short: var(--mc-string-global-font-weight-default);
  /* font weight for multi line paragraph texts */
  --mc-font-weight-alias-typescale-font-weight-body-long: var(--mc-string-global-font-weight-default);
  /* font weight for small paragraph texts */
  --mc-font-weight-alias-typescale-font-weight-body-small: var(--mc-string-global-font-weight-default);
  /* font weight for hyperlinks */
  --mc-font-weight-alias-typescale-font-weight-hyperlink-default: var(--mc-string-global-font-weight-default);
  /* font weight for hyperlinks in hover state */
  --mc-font-weight-alias-typescale-font-weight-hyperlink-hover: var(--mc-string-global-font-weight-default);
}